<% if logged_in? %>

  <div class="row">
    <aside class="col-md-4">
      <% if !@return_url.nil? %>
        <div class="alert alert-success">
          <strong>Welcome back!</strong><br>
          <%= link_to "Go back to the page before logging in?", @return_url %>
        </div>
      <% end %>
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <section class="stats">
        <%= render 'shared/stats' %>
      </section>
      <section class="micropost_form">
        <%= render 'shared/micropost_form' %>
      </section>
    </aside>
    <div class="col-md-8">
      <h3>Micropost Feed</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>
<% else %>
  <div class="center jumbotron">
    <h1>Welcome to GamesBook</h1>

    <h2>
      It's almost Friday, let's play some little simple games to have fun with your friends!
      <!--This is the home page for the-->
      <!--<a href="http://www.railstutorial.org/">Ruby on Rails Tutorial</a>-->
      <!--sample application.-->
    </h2>

    <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
  </div>

  
<% end %>