<% provide(:title, @user.name) %>
<div class="row">
  
  <aside class="col-md-4">
    <!--user status area-->
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
    <% if @user == current_user %>
      <%= link_to "Change profile picture", edit_user_path %>
    <% end %>
    <section class="stats">
      <%= render 'shared/stats' %>
    </section>
    
    <!--game records area-->
    <br>
    <div class="user-game-records">
      <%= render 'user_game_records' %>
    </div>
    
  </aside>
  
  
  <!--microposts area-->
  <div class="col-md-8">
    <%= render 'follow_form' if logged_in? %>
    <% if @user.microposts.any? %>
      <h3>Microposts (<%= @user.microposts.count %>)</h3>
      <ol class="microposts">
        <%= render @microposts %>
      </ol>
      <%= will_paginate @microposts %>
    <% else %>
      <% if @user == current_user %>
        <h4><em>Oops! Looks like you haven't posted anything yet.<em></em></h4>
        <h4><em>Post something to share with your friends <%= link_to "now!", root_path %></em></h4>
      <% else %>
        <h4><em><%= @user.name %> hasn't posted anything yet.</em></h4>
      <% end %>
    <% end %>
  </div>
</div>