<% provide(:title, 'Blackjack') %>
<%= javascript_include_tag 'blackjack' %> 
<h1>Blackjack</h1>
<div id="game">
<%= render 'greeting' %>
<%= javascript_tag do %>
	<% if logged_in? %>
		var bank = <%= current_user.blackjack.score %>;
		var blackjack_id = <%= current_user.blackjack.id %>;
	<% else %>
		var bank = 500;
	<% end %>
<% end %>

	<canvas id="canvas" class="img-rounded" width="600" height="500" style="border: 1px solid black" background-color="green"></canvas>
	<br>
	<div class="row">
		<div>
			<p>Set Bet ($10 ~ $500): <span id="bet_value">10</span></p>
			<div class="col-md-2 col-md-offset-5">
				<input type="range" min="10" max="500" value="10" step="10" onchange="set_bet(this.value)"/>
			</div>
		</div>
	</div>
	<button id="btn_deal" class="btn btn-info">Deal</button>
	<button id="btn_hit" class="btn btn-success">Hit</button>
	<button id="btn_stand" class="btn btn-danger">Stand</button>
	<button id="btn_reset" class="btn btn-warning">Reset Bank</button>
	<br>
	<%= link_to 'Show all records', blackjacks_path %>
</div>

